---
import NavBar from "../components/NavBar.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <NavBar />
    <body>
        <h2>What is Kalpa?</h2>
        <p>The word 'Kalpa' is the Buddhist word for the lifespan of the Universe. I co-opted this word to reference the games I make, since they all take place in the same Universe, along the same timeline</p>

        <h2>What is this website?</h2>
        <p>Since I express my stories through game development, it can take a very long time to actually get something released. This website serves as an intermediary for my expression (and also so I stop forgetting my own ideas)</p>
        <p>Note: This won't be a compendium for all Kalpa related lore, since it would be incredibly spoiler heavy. But it will contain a lot of surface level ideas and general plotlines.</p>

        <h2>A bit about me</h2>
        <p>I started coming up with stories in my late teens as a means to combat my overthinking. This slowly evolved overtime into a fully-fledged Universe which, only recently, I decided to express via the medium of video games</p>
        <p>As of writing, 22:48 2025-10-27, I am 22 years old.</p>
    </body>
</Layout>