---
import NavBar from "../components/NavBar.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout>
    <NavBar />
    <body>
        <h2>What is Kalpa?</h2>
        <p>The word 'Kalpa' is the Buddhist word for the lifespan of the Universe. I co-opted this word to reference the games I make, since they all take place in the same Universe, along the same timeline</p>

        <h2>What is this website?</h2>
        <p>Since I express my stories through game development, it can take a very long time to actually get something released. This website serves as an intermediary for my expression (and also so I stop forgetting my own ideas)</p>

        <h2>Note about the lore</h2>
        <p>This won't be a compendium of ALL Kalpa lore, but the general stuff.</p>
    </body>
</Layout>

<style>
    body {
        width: 80%;
    }
</style>