<div>
	<h1>Welcome to the Kalpa Codex</h1>
	<p>Information <a href="/about/">about me & Kalpa</a>.</p>
</div>

<style>
    div {
        justify-content: center;
        text-align: center;
    }
</style>